/* layout/_header.scss */

header {
  width: 96%;
  height: auto;
  overflow: hidden;
  margin: 20px auto;
}

.logo {
    width: 20%;
    float: left;
    height: auto;
}

.logo img {
    width: 80%;
}
