/* layout/_header.scss */

header {
  padding-top: 2em;
  padding-bottom: 2em;
  width: 96%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
}

.logo {
  float: left;
  width: 16.5%;
  overflow: hidden;
}

.logo img {
  width: 100%;
  height: auto;;
}
