/*  components/_navs.scss */

.main_nav_wrapper {
    width: 80%;
    float: right;
    overflow: hidden;
}

.main-nav {
    list-style-type: none;
    float: right;
    margin-right: -35px;
    margin-top: 60px;
    font-family: $menu-item;
    font-size: 22px;
    color: #4A4A4A;
}

.main-nav__item {
    float: left;
    padding-right: 35px;
    padding-left: 35px;
    position: relative;
}

.main-nav__link {
    display: block;
    text-decoration: none;
    color: #4A4A4A;
}

.sub-nav {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom:0;
    left: 0;
    background-color: aqua;
    z-index: 2;
    display: none;
}

.main-nav__item:hover {
    background-color: #F0F0F0;
}

.main-nav__item:hover .sub-nav{
    display: block;
}


@media screen and (max-width: 1280px) {
  .main-nav {
    margin-top: 50px;
  }
  .main-nav__item {padding-left: 40px;}
}

@media screen and (max-width: 1024px) {
  .main-nav {
    font-size: 22px;
    margin-top: 40px;
  }
  .main-nav__item {padding-left:30px;}
}

@media screen and (max-width: 820px) {
  .main-nav {display: none;}
}
