<!-- index.html -->

{% extends 'layouts/application.html' %}

{% block content %}
  <main role="main">
    <div class="wrapper">
      <ul class="featured-list feautred-list--full">
        <li class="featured-list__item">
          <div class="featured-list__content">
            <h1 class="featured-list__item__title">title</h1>
            <p class="featured-list__item__brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos animi voluptas voluptate quam itaque eos aut quisquam quaerat consectetur impedit, et debitis, sapiente suscipit porro, voluptates! Repellat deleniti, adipisci consequatur?</p>
          </div>
        </li>
        <li class="featured-list__item">
          <div class="featured-list__content">
            <h1 class="featured-list__item__title">title</h1>
            <p class="featured-list__item__brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos animi voluptas voluptate quam itaque eos aut quisquam quaerat consectetur impedit, et debitis, sapiente suscipit porro, voluptates! Repellat deleniti, adipisci consequatur?</p>
          </div>
        </li>
      </ul>


      <ul class="featured-list featured-list--grid feautred-list--4boxes">
        <li class="featured-list__item">
          <div class="featured-list__content">
            <h1 class="featured-list__item__title">title</h1>
            <p class="featured-list__item__brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos animi voluptas voluptate quam itaque eos aut quisquam quaerat consectetur impedit, et debitis, sapiente suscipit porro, voluptates! Repellat deleniti, adipisci consequatur?</p>
          </div>
        </li>
        <li class="featured-list__item">
          <div class="featured-list__content">
            <h1 class="featured-list__item__title">title</h1>
            <p class="featured-list__item__brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos animi voluptas voluptate quam itaque eos aut quisquam quaerat consectetur impedit, et debitis, sapiente suscipit porro, voluptates! Repellat deleniti, adipisci consequatur?</p>
          </div>
        </li>
        <li class="featured-list__item">
          <div class="featured-list__content">
            <h1 class="featured-list__item__title">title</h1>
            <p class="featured-list__item__brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos animi voluptas voluptate quam itaque eos aut quisquam quaerat consectetur impedit, et debitis, sapiente suscipit porro, voluptates! Repellat deleniti, adipisci consequatur?</p>
          </div>
        </li>
        <li class="featured-list__item">
          <div class="featured-list__content">
            <h1 class="featured-list__item__title">title</h1>
            <p class="featured-list__item__brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos animi voluptas voluptate quam itaque eos aut quisquam quaerat consectetur impedit, et debitis, sapiente suscipit porro, voluptates! Repellat deleniti, adipisci consequatur?</p>
          </div>
        </li>
      </ul>

      <ul class="featured-list featured-list--grid feautred-list--3boxes">
        <li class="featured-list__item">
          <div class="featured-list__content">
            <h1 class="featured-list__item__title">title</h1>
            <p class="featured-list__item__brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos animi voluptas voluptate quam itaque eos aut quisquam quaerat consectetur impedit, et debitis, sapiente suscipit porro, voluptates! Repellat deleniti, adipisci consequatur?</p>
          </div>
        </li>
        <li class="featured-list__item">
          <div class="featured-list__content">
            <h1 class="featured-list__item__title">title</h1>
            <p class="featured-list__item__brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos animi voluptas voluptate quam itaque eos aut quisquam quaerat consectetur impedit, et debitis, sapiente suscipit porro, voluptates! Repellat deleniti, adipisci consequatur?</p>
          </div>
        </li>
        <li class="featured-list__item">
          <div class="featured-list__content">
            <h1 class="featured-list__item__title">title</h1>
            <p class="featured-list__item__brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos animi voluptas voluptate quam itaque eos aut quisquam quaerat consectetur impedit, et debitis, sapiente suscipit porro, voluptates! Repellat deleniti, adipisci consequatur?</p>
          </div>
        </li>
      </ul>

      <ul class="featured-list featured-list--grid feautred-list--2boxes">
        <li class="featured-list__item">
          <div class="featured-list__content">
            <h1 class="featured-list__item__title">title</h1>
            <p class="featured-list__item__brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos animi voluptas voluptate quam itaque eos aut quisquam quaerat consectetur impedit, et debitis, sapiente suscipit porro, voluptates! Repellat deleniti, adipisci consequatur?</p>
          </div>
        </li>
        <li class="featured-list__item">
          <div class="featured-list__content">
            <h1 class="featured-list__item__title">title</h1>
            <p class="featured-list__item__brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos animi voluptas voluptate quam itaque eos aut quisquam quaerat consectetur impedit, et debitis, sapiente suscipit porro, voluptates! Repellat deleniti, adipisci consequatur?</p>
          </div>
        </li>
        <li class="featured-list__item">
          <div class="featured-list__content">
            <h1 class="featured-list__item__title">title</h1>
            <p class="featured-list__item__brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos animi voluptas voluptate quam itaque eos aut quisquam quaerat consectetur impedit, et debitis, sapiente suscipit porro, voluptates! Repellat deleniti, adipisci consequatur?</p>
          </div>
        </li>
        <li class="featured-list__item">
          <div class="featured-list__content">
            <h1 class="featured-list__item__title">title</h1>
            <p class="featured-list__item__brief">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos animi voluptas voluptate quam itaque eos aut quisquam quaerat consectetur impedit, et debitis, sapiente suscipit porro, voluptates! Repellat deleniti, adipisci consequatur?</p>
          </div>
        </li>
      </ul>

    </div>
  </main>
{% endblock %}

{% block javascript %}
{% endblock %}
