<!-- index.html -->
{% block head %}
{% endblock %}

{% extends 'layouts/application.html' %}

{% block content %}
  <main role="main">
    <div class="wrapper">
      <div class="header-video-container">
          <div class="left-videoblock background-col">
              <div class="left-content">
                  <p><span class="play-icon"></span>Play Again</p>
              </div>
          </div>
          <div class="right-videoblock background-col">
              <div class="right-content">
                  <span class="right-content_h1"> Welcome to KAFD website</span>
                  <span class="right-content_p">KAFD vision is to serve as a leading and innovative organization working to promote sustainable progress and elevate the socioeconomic status and prosperity in Jordan</span>
              </div>
          </div>
      </div>
        <div class="featured-event-container">
               <div class="featured-event-left bigimage">
                   <div class="bigimage__content">
                       <input type="button" value="NEWS">
                       <h1>Jordan Gaming Summit</h1>
                       <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                   when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                       </div>
               </div>
               <div class="featured-event-right">
                   <div class="smallimage-1">
                       <div class="small-image-1__content">
                           <input type="button" value="EVENTS">
                           <h1>Jordan Gaming Summit</h1>
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer ...</p>
                       </div>
                   </div>
                   <div class="smallimage-2">
                       <div class="small-image-2__content">
                           <input type="button" value="EVENTS">
                           <h1>Jordan Gaming Summit</h1>
                           <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer ...</p>
                       </div>
                   </div>
               </div>
           </div>
        <div class="programs-container">
          <span class="title">Activities</span>
          <div class="wrapper">
            <nav class="programs-nav">
              <li class="programs-nav__item"><a class="programs-nav__link" href="#">All</a></li>
              <li class="programs-nav__item"><a class="programs-nav__link" href="#">Development & Employment</a></li>
              <li class="programs-nav__item"><a class="programs-nav__link" href="#">Active Citzenship</a></li>
              <li class="programs-nav__item"><a class="programs-nav__link" href="#">Leadership & Innovation</a></li>
            </nav>
            <div class="pagination-container">
              <div class="arrow-box leftarrow">
              </div>
              <div class="arrow-box rightarrow">
              </div>
           </div>
         </div>
         <div class="programs-wrapper">
            <div class="programslider-row">
                <div class="program program-left">
                    <div class="program__bgimg" id="program-1"></div>
                    <div class="program-content-container">
                        <div class="program__content">
                            <h2>Workshops in Amman</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <input type="button" value="MORE">
                        </div>
                    </div>
                </div>
                <div class="program program-right">
                    <div class="program__bgimg" id="program-2"></div>
                    <div class="program-content-container">
                        <div class="program__content">
                            <h2>Jordan competitiveness program USAID</h2>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <input type="button" value="MORE">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="sucess-stories-container">
            <span class="title">Success Stories</span>
            <div class="pagination-container">
              <div class="arrow-box leftarrow">
              </div>
              <div class="arrow-box rightarrow">
              </div>
           </div>
            <div class="sucees-stories-wrapper">
                <div class="sucees-stories__img">
                    <div class="circular-image"></div>
                </div>
                <div class="sucees-stories__content">
                    <blockquote cite="google.com">
                        <p class="quoet">KAFD enabled me to become a better designer. Joining the training KAFD's training program back in 2013 exposed me to different experiences that would have never encountered through my daily work. Now I am a better designer and I achieved much more with my life</p>
                    </blockquote>
                    <div class="author">
                    <h1>Ahmad Yousef</h1>
                    <p>Designer</p>
                </div>
                </div>
            </div>
        </div>
    </div>
  </main>
{% endblock %}

{% block javascript %}
{% endblock %}
