<!-- index.html -->
{% block head %}
{% endblock %}

{% extends 'layouts/application.html' %}

{% block content %}
  <main role="main">
    <div class="wrapper">
      <div class="featured-event-container">
            <div class="featured-event-left bigimage">
                <div class="bigimage__content">
                    <input type="button" value="NEWS">
                    <h1>Jordan Gaming Summit</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                <div class="bigimage-inside">
                </div>
            </div>
            <div class="featured-event-right">
                <div class="smallimage-1">
                    <div class="small-image-1__content">
                        <input type="button" value="PROGRAM">
                        <h1>Jordan Gaming Summit</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer ...</p>
                    </div>
                    <div class="smallimage-inside">
                    </div>
                </div>
                <div class="smallimage-2">
                    <div class="smallimage-2__content">
                        <input type="button" value="EVENTS">
                        <h1>Jordan Gaming Summit</h1>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer ...</p>
                    </div>
                    <div class="smallimage-inside">
                    </div>
                </div>
            </div>
        </div>
    </div>
  </main>
{% endblock %}

{% block javascript %}
{% endblock %}
