<!-- index.html -->
{% block head %}
{% endblock %}

{% extends 'layouts/application.html' %}

{% block content %}
  <main role="main">
    <div class="wrapper">
      <div class="video-component-wrapper ">
        <div class="play-again">
          <div class="play-again_content">
            <img src="../../images/play-logo-1.png">
            <p>Play again</p>
          </div>
        </div>
        <div class="welcome-video">
          <div class="welcome-video_title">
            <h1>Welcome to KAFD website.</h1>
          </div>
          <div class="welcome-video_body">
            <p>KAFD’s vision is to serve as a leading and innovative organization working to promote
              sustainable progress and elevate the socioeconomic status and prosperity in Jordan</p>
          </div>
        </div>
      </div>

      <div class="featured-event-component">
        <div class="featured-event-largblock">
          <img src="../../images/../../images/event-bigblock.jpg">
          <div class="featured-event-largblock_content">
            <a href="#"><input type="button" value="NEWS"></a>
            <h1>Jordan Gaming Summit</h1>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </div>
        </div>
        <div class="featured-event-smallblock">
          <div class="featured-event-smallblock_1">
            <img src="../../images/../../images/event-smallblock-1.jpg">
          </div>
          <div class="featured-event-smallblock_1">
            <img src="../../images/../../images/event-smallblock-2.jpg">
          </div>
        <div>
    </div>
  </main>
{% endblock %}

{% block javascript %}
{% endblock %}
