<div class="wrapper">
  <nav class="main-nav">
    <li class="main-nav__item"><a class="main-nav__link" href="index.html">Home</a></li>
    <li class="main-nav__item"><a class="main-nav__link" href="#">News</a></li>
    <li class="main-nav__item"><a class="main-nav__link" href="#">Events</a></li>
    <li class="main-nav__item"><a class="main-nav__link" href="#">Media</a></li>
    <li class="main-nav__item"><a class="main-nav__link" href="#">About</a></li>
    <li class="main-nav__item"><a class="main-nav__link" href="#">Contact</a></li>
  </nav>
</div>
