// Featured Content Component Styles
// Video Component
* {
  box-sizing: border-box;
}
main {
  margin: 0;
}
.wrapper {
  padding: 0;
}

.video-component-wrapper {
  width: 100%;
  height:auto;;
  overflow: hidden;
}

.play-again {
  width: 20%;
  height: auto;
  float: left;
  background-color: #4F6C7E;
  opacity: 0.5;
  padding: 26px;
}

.play-again_content {
  width: 70%;
  margin: 0 auto;
}
.play-again img {
  width: 41.6px;
  float: left;
  height: 46px;
}

.play-again p {
  font-family: $body;
  font-size: 3em;
  color: #FFFFFF;
  line-height: 1.5em;
  margin-left: 55px;
}

.welcome-video {
  width: 80%;
  float: right;
  height: auto;
  background-color: #4F6C7E;
}

.welcome-video_title {
  float: left;
    padding: 31px;
}

.welcome-video_title h1{
  font-size: 4em;
  color: #FFFFFF;
  line-height: 0.6em;
}

.welcome-video_body {
  float: left;
  width: 50%;
  font-family: $body;
  padding: 30px;
  color: #FFFFFF;
  font-size: 1.8em;
  line-height: 0.9em;
  margin-left: 20px;
  margin-top: -10px;
}

// Featured Events Component Styles

.featured-event-component {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.background_image{
  height: auto;
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}
.featured-event-largblock {
  width: 70%;
  float: left;
  background-image:url(../../images/event-bigblock.jpg);
  overflow: hidden;
  @extend .background_image;
  box-sizing: border-box;

}



.featured-event-largblock_content {
  width: 60%;
  float: left;
  overflow: hidden;
  padding: 35% 0 5% 5%;
  box-sizing: border-box;
}
.input {
  border: 0;
  color: #FFFFFF;
  font-family: $body;
  font-size: 3em;
}

.featured-event-largblock_content input {
  background-color: #8D1549;
  @extend .input;
}

.featured-event-largblock_content h1 {
  color: #FFFFFF;
  font-size: 5em;
  line-height: 70px;

}

.featured-event-largblock_content p {
  color: #FFFFFF;
  font-size: 2em;
  font-family: $body;
  line-height: 25px;

}


.small-block {
  width: 30%;
  float: right;
  overflow: hidden;
  height: auto;
}

.featured-event-smallblock-1 {
  width: 100%;
  background-image: url(../../images/../../images/event-smallblock-1.jpg);
  @extend .background_image;
  box-sizing: border-box;
  padding: 14% 0% 2% 5%;
}

.featured-event-smallblock-2 {
  width: 100%;
  background-image: url(../../images/../../images/event-smallblock-2.jpg);
  @extend .background_image;
  box-sizing: border-box;
  padding: 14% 0% 2% 5%;
}

.featured-event-smallblock_content {
  width: 82.6%;

  box-sizing: border-box;
}
.featured-event-smallblock-1 input {
  background-color: #CBBDA2;
  @extend .input;
}

.featured-event-smallblock-2 input {
  background-color: #4F6C7E;
  @extend .input;
}

.featured-event-smallblock_content h1 {
  color: #FFFFFF;
  font-size: 5em;
  line-height: 53px;
}
.featured-event-smallblock_content p {
  color: #FFFFFF;
  font-size: 2em;
  font-family: $body;
  line-height: 23px;
}


//dsdsdd
