// Featured Content Component Styles
// Video Component
* {
  box-sizing: border-box;
}
main {
  margin: 0;
}
.wrapper {
  padding: 0;
}
.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-position: center;
}


.video-component-container {
    width: 100%;
    float: left;
    height: auto;
    overflow: hidden;
}

.video-component-container__left {
    width: 20%;
    float: left;
    opacity: .5;
    background-color: #4F6C7E;
    overflow: hidden;
    position: relative;
}

.video-component-container__right {
    width: 80%;
    float: right;
    background-color: #4F6C7E;
    overflow: hidden;
    position: relative;
}

.video-componet__Lheight {
    padding-top: 35%;
}
.video-componet__Rheight {
    padding-top:8.8%;
}

.play_container {
    position: absolute;
    width: 80%;
    top: 30%;
    left: 10%;
    z-index: 3;
}

.play_container img {
    width: 14%;
    float: left;
    margin-top: 2px;
}
.play_container p {
    font-size: 30px;
    color: #FFFFFF;
    font-family: $body;
    float: left;
    vertical-align: middle;
    margin-left: 10px;
    line-height: 39px;
}

.welcome-container {
    width: 80%;
    position: absolute;
    top: 20%;
    left: 3%;
}

.welcome-container h1 {
    font-family: $title;
    font-size: 30px;
    color: #FFFFFF;
    float: left;
    line-height: 55px;
}

.welcome-container p {
    font-size: 18px;
    line-height: 19px;
    font-family: $body;
    color: #FFFFFF;
    margin-left: 30px;
    float: left;
    width: 57%;
}



@media screen and (max-width: 1353px) {
    .welcome-container p {
        width: 50%;
    }
}

// Featured Events Component Styles

.featured-event-container {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.featured-event-left {
    width: 70%;
    float: left;
    overflow: hidden;

}

.featured-event-left p {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 23px;
    font-family: $body;
}

.featured-event-right p {
    color: #FFFFFF;
    font-size: 20px;
    line-height: 23px;
    font-family: $body;
}

.featured-event-left h1 {
  color: #FFFFFF;
  font-size: 50px;
  font-family: $title;

}

.featured-event-right h1 {
  color: #FFFFFF;
  font-size: 50px;
  font-family: $title;

}

.featured-event-left input {
    color: #FFFFFF;
    font-size: 30px;
    font-family: $body;
    border: 0;
}

.featured-event-right input {
    color: #FFFFFF;
    font-size: 30px;
    font-family: $body;
    border: 0;
}


.featured-event-right {
    width: 30%;
    float: right;
    overflow: hidden;
}


.bigimage {
  @extend .background-image;

  padding-top: 39.145427286357%;
  background-image: url(../images/event-bigblock.jpg);
}

.events-overlay {
  position: absolute;
  content:"";
  top:0;
  width: 100%;
  height: 100%;
  z-index: 4;
  left:0;
}
.bigimage:after {
  @extend .events-overlay;

  opacity: .2;
  background-color: #8F1549;
}


.smallimage-1 {
  @extend .background-image;

  padding-top: 65.3%;
  background-image:url(../images/event-smallblock-1.jpg);
}

.smallimage-1:after {
  @extend .events-overlay;

  background-color: #CBBDA2;
  opacity: .4;
}

.smallimage-2 {
  @extend .background-image;

  padding-top: 65.3%;
  background-image:url(../images/event-smallblock-2.jpg);
}

.smallimage-2:after {
  @extend .events-overlay;

  background-color: #4F6C7E;
  opacity: .4;
}


 .bigimage__content{
     position: absolute;
     width: 60%;
     left: 5%;
     bottom: 7%;
     z-index: 6;
}

.bigimage__content input {
    background-color: #8D1549;
}

.bigimage__content h1 {
  line-height: 80px;
}

.small-image-1__content {
    width: 82.7%;
    position: absolute;
    bottom: 13%;
    left: 6%;
    z-index: 6;
}

.small-image-1__content input {
    background-color: #CBBDA2;
}

.small-image-1__content h1 {
  line-height: 53px;
}

.small-image-2__content {
    width: 82.7%;
    position: absolute;
    bottom: 13%;
    left: 6%;
    z-index: 6;;
}


.small-image-2__content input {
    background-color: #4F6C7E;
}

.small-image-2__content h1 {
  line-height: 53px;
}


@media only screen and (max-width:1366px) {
    .featured-event-right input {font-size: 25px;}
    .featured-event-right h1 {font-size: 25px;}
    .featured-event-right p {
        font-size: 14px;
        line-height: 22px;
    }
    .small-image-1__content h1 {line-height: 40px;}
    .small-image-2__content h1  {line-height: 40px;}
}

@media only screen and (max-width:1280px) {
    .featured-event-left input {font-size: 22px;}
    .featured-event-right input {font-size: 22px;}
    .bigimage__content h1 {line-height: 45px;}
    .featured-event-left h1 {font-size: 25px;}
    .featured-event-right h1 {font-size: 25px;}
    .featured-event-left p {
        font-size: 12px;
        line-height: 20px;
    }
    .featured-event-right p {
        font-size: 12px;
        line-height: 20px;
    }
    .small-image-1__content h1 {line-height: 35px;}
    .small-image-2__content h1  {line-height: 35px;}
}

@media only screen and (max-width:1024px) {
    .featured-event-right input {font-size: 20px;}

    .featured-event-right h1 {font-size: 20px;}

    .featured-event-right p {
        font-size: 10px;
        line-height: 20px;
    }
    .small-image-1__content h1 {line-height: 30px;}

    .small-image-2__content h1  {line-height: 30px;}
}

@media only screen and (max-width:768px) {
    .featured-event-left {
        width: 100%;
    }

    .featured-event-right {
        width: 100%;
        float: left;
        clear: both;
    }

    .featured-event-left input {font-size: 11.93px;}
    .featured-event-right input {font-size: 11.93px;}
    .featured-event-left h1 {font-size: 20px;}
    .featured-event-right h1 {font-size: 20px;}

    .bigimage__content h1 {line-height: 35px;}

     .featured-event-left p {
        font-size: 12px;
        line-height: 16px;
    }
    .featured-event-right p {
        font-size: 12px;
        line-height: 16px;
    }
    .bigimage-inside {padding-top: 40%;}
    .small-image-1__content {
        left: 5%;
        bottom: 7%;
    }
    .small-image-2__content {
        left: 5%;
        bottom: 7%;
    }
}
//Programs//

.programs-container {
  width: 92.239%;
  margin: 0 auto;
  margin-top: 78px;
  overflow: hidden;
}

.title {
  font-family: $title;
  color: #9B9B9B;
  font-size: 4em;
  line-height: 53px;
  float: left;
}

.programs-nav {
  float: left;
  clear: both;
  list-style-type: none;
  margin-left: -88px;
  margin-top: 44px;
}
.programs-nav__item {
  float: left;
  font-size: 2.2em;
  line-height: 29px;
  padding-left: 88px;
}
.programs-nav__link {
  text-decoration: none;
  cursor: pointer;
  color: #9B9B9B;
}

.programs-nav__link:active {
  font-family: $title;
}


.pagination-container {
    float: right;
    margin-right: -5px;
    margin-top: 20px;
}

.arrow-box {
    float: left;
    width: 56px;
    height: 56px;
    background-color: #D8D8D8;
    margin-right: 5px;
    position: relative;

}

.arrow {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  width: 50%;
  height: 50%;
}
.leftarrow:after {
  @extend .arrow;

  background: url(../images/left.png) no-repeat 100%;
}

.rightarrow:after {
  @extend .arrow;
  background: url(../images/right.png) no-repeat 100%;
}


@media only screen and (max-width:1280px) {
  .title {font-size: 3.4em}
  .programs-nav {margin-left: -70px;}
  .programs-nav__item {
    font-size: 2em;
    padding-left: 70px;
  }
  .arrow-box  {
    width: 50px;
    height: 50px;
  }
  .arrow {
    width: 55%;
    height: 55%;
  }
}
@media only screen and (max-width:1024px) {
  .title {font-size: 3em}
  .programs-nav {margin-left: -40px;}
  .programs-nav__item {
    font-size: 1.6em;
    padding-left: 40px;
  }
  .pagination-container {
    margin-top: 35px;
  }
  .arrow-box  {
    width: 35px;
    height: 35px;
  }
  .arrow {
    width: 75%;
    height: 75%;
  }
}

@media only screen and (max-width:768px) {
  .title {font-size: 1.8em}
  .programs-nav {
    margin-left: -40px;
    margin-top:14px;
  }
  .programs-nav__item {
    font-size: 1.2em;
    padding-left: 40px;
  }
  .pagination-container {
    margin-top: 12px;
  }
  .arrow-box  {
    width: 23px;
    height: 23px;
  }
  .arrow {
    width: 90%;
    height: 90%;
  }
}
//featured programs//

.programs-wrapper {
    width: 100%;
    float: left;
    margin-top: 100px;
}

.programslider-row {
    margin-left: -75px;
    overflow: hidden;
}

.program {
    width: 50%;
    float: left;
    padding-left: 75px;
    overflow: hidden;
	  height: auto;
}

.program__bgimg {
    width: 50%;
    float: left;
    overflow: hidden;
	  height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    padding-top: 58.41%;
}

#program-1{
    background-image: url(../images/program1img.jpg);
}

#program-2{
    background-image: url(../images/program2img.jpg);
}

.program-content-container {
    width: 50%;
    float: right;
    position: relative;
    padding-top: 58%;
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    border-right: 1px solid #979797;
}

.program__content {
    width: 70%;
    position: absolute;
    top: 12%;
    left: 12%;
    z-index: 12;
}

.program__content h2{
    font-family: $title;
    color: #4A4A4A;
    font-size: 2.2em;
    line-height: 29px;
    margin-bottom: 23px;
}


.program__content p {
    font-family: $body;
    color: #9B9B9B;
    font-size: 1.8em;
    line-height: 17px;
}

.program__content input{
    width: 89px;
    height: 39px;
    border: 1px solid #979797;
    background-color: #FFFFFF;
    color: #4A4A4A;
    font-size: 2em;
    line-height: 26px;
    font-family: $body;
    margin-top: 100px;
}


@media only screen and (max-width:1366px) {

    .program__content {
        width: 80%;
    }
    .program__content h2 {
        font-size: 2em;
        margin-bottom: 18px;
    }
    .program__content p {font-size: 1.4em;}
    .program__content input {
        width: 80px;
        height: 32px;
        margin-top: 35px;
    }
}
@media only screen and (max-width:1280px) {

  .programs-wrapper  {
    margin-top: 80px;
  }
  .program__content {
    width: 85%;
  }

  .program__content h2 {
    font-size: 2em;
    margin-bottom: 18px;
  }
  .program__content p {font-size: 14px;}
  .program__content input {
    margin-top: 30px;
  }
}

@media only screen and (max-width:1024px) {
  .programs-wrapper  {
    margin-top: 40px;
  }
  .program__content {
    width: 85%;
    top: 8%;
    left: 8%;
  }
  .program__content h2 {
    font-size: 1.4em;
    line-height: 22px;
    margin-bottom: 8px;
  }
  .program__content p {font-size: 10px;}
  .program__content input {
    width: 70px;
    height: 30px;
    margin-top: 20px;
    font-size: 1.4em;
  }
}


@media only screen and (max-width: 768px) {
  .programs-wrapper  {
    margin-top: 40px;
  }
  .programslider-row {margin-left: 0;}
  .program {
    width: 100%;
    padding-left: 0;
    margin-bottom: 20px;
  }
  .program__content h2 {
    font-size: 1.6em;
    line-height: 21px;
  }
  .program__content p {
    font-size: 1.2em;
    line-height: 17px;
  }
  .program__bgimg {
    padding-top: 27.823691460055%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .program-content-container {
    padding-top: 27.6%;
  }
  .program__content input {
    width: 47px;
    height: 23px;
    margin-top: 22px;
    font-size: 1.2em;
    line-height: 16px;
  }
}


@media only screen and (max-width: 768px) {

    .program__content h2 {
        font-size: 1.2em;
        line-height: 21px;
    }
    .program__content p {
        font-size: 1em;
        line-height: 14px;
    }
    .program__bgimg {
        padding-top: 27.823691460055%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top;
    }

    .program-content-container {
        padding-top: 27.6%;
    }
    .program__content input {
        width: 46px;
        height: 19px;
        margin-top: 20px;
        font-size: 1.1em;
        line-height: 14px;
    }
}
