// #1 Utilities
@import "utils/variables";
@import "utils/placeholders";
@import "utils/mixins";

// #2 Base
@import "base/reset";
@import "base/fonts";
@import "base/base";

// #3 Layout
@import "layout/header";
@import "layout/footer";
@import "layout/layout";

// #4 Components
@import "components/nav";

// #5 Pages
@import "pages/home";
