<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Gulp Asset Pipeline{% endblock %}</title>
  <link rel="stylesheet" href="styles/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {% block head %}{% endblock %}
</head>
<body>
  <!-- Header  -->
  {% include "partials/header.html" %}
  <!-- /Header  -->

  <!-- main content  -->
  {% block content %}{% endblock %}
  <!-- /main content  -->

  <!-- Footer  -->
  {% include "partials/footer.html" %}
  <!-- /Footer  -->

  <!-- bower:js -->
  <script src="scripts/vendor/jquery.js"></script>
  <!-- endbower -->
  <script src="scripts/utils.js"></script>
  <script src="scripts/main.js"></script>
  {% block javascript %}{% endblock %}
</body>
</html>
